{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Frequently Asked Questions
  </h3>
  <p>
    To be replaced with accordion style Q&A page
  </p>
</section>