{{#each station}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <p>
      Open to see weather information for {{title}}
    </p>
    <a href="/station/{{id}}" class="ui inverted icon button">
      <i class="icon blue folder open"></i>
    </a>
    <a href="/dashboard/deletestation/{{id}}" class="ui inverted icon button">
      <i class="red icon trash"></i>
    </a>
  </section>
{{/each}}