<table class="ui cell striped table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temperature (℃)</th>
      <th>Wind Speed (km/h)</th>
      <th>Pressure (hPa)</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
    <tr>
      <td>{{code}}</td>
      <td>{{temp}}</td>
      <td>{{windSpeed}}</td>
      <td>{{pressure}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>